
{% extends 'base.html'%}

{%block content %}
{%include 'navbar.html' %}

  
   
    
   <div class="container-fluid main" >
   <h3>E-ShopEasy</h3>
   <p>Search for products at minimal prices </p>
   </div>

    <div class="container-fluid" style="text-align:center ; margin-top:10px ;">
        <div class="container"><h5> &nbsp;Search products</h5></div>
        <hr style="background-color: black;">
      </div>
    <hr>
    <div class="container">
            <form class="form-inline" action="{% url 'search_product'  %}" method="POST" >
                {%csrf_token%}
                <input class="form-control mr-sm-2" type="text" placeholder="Search Product" name="query">
                <select class="form-control" name="website" id="" style="height:2.5rem;" >
                    <option value="">Select site</option>
                    <option value="amazon">Amazon</option>
                    <option value="flipkart">FlipKart</option>
                    <option value="ebay">E bay</option>
                </select>
                <button class="btn btn-outline-info my-2 my-sm-1" type="submit"><li class="fa fa-search"></li></button>  
            </form>
    </div>
    <div class="container">
        {% if list%}
        <form action="{% url 'add_fav' website %}" method="POST">
        {% csrf_token %}
        <div class="container" style="margin-top: 50px;"><p>Showing results for <b>{{query}}</b> from <b>{{website}}</b></p></div>
        <div class="row">
        <div class="col-md-11">
        <div class="scrolln" style="height:500px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.658) ;margin-bottom:20px">
        <table class="table"  style="background-color:white ;height:250px; margin-top:20px ; text-align:center">
            <tr>
            <th>favourite</th>
            <th>image</th>
            <th>Name</th>
            <th>Pice</th>
            <th>Link</th>
            
        </tr>
        {% for i in list%}
        <tr>
        <td><input type="checkbox" name="favourites" id="" value="{{i}}" style="width: 20px;height:20px"></td>
        {% for key, value in i.items %}
        {% ifequal key 'img'%}
        <td><img class="img-fluid" src="{{value}}"></td>
         {%endifequal%}
            {% ifequal key 'link'%}
           <td><a href="{{value}}"><i class="fa fa-external-link" aria-hidden="true"></i>Check On {{website}}</a></td>
            {% endifequal %}
            {% ifequal key 'name'%}
            <td>{{value|truncatechars:50}}</td>
            {% endifequal%}
            {% ifequal key 'price'%}
            <td>{{value}}</td>
            {% endifequal%}
        {% endfor %}
        </tr>
        {%endfor%}
    </table>
    </div>
    </div>
    <div class="col-md-1">
    <div class="container" style="text-align: center;">
    <div style="background-color: green;"><input type="submit" name="" id="" value="Add Favourites" style="background-color: green;color:white"></div>
    </div>
     </div>
    </form>
    {%endif%}
</div>
    </div>
    


    <div  style="position: relative; top:400px">
    {% include 'footer.html'%}
    </div>
{% endblock content %}